{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <form action="{{url_for('modulo_uploadFile.save_file')}}" method="POST" id="tableForm">

            <input type="hidden" id="filename" name="filename" value="{{filename}}">
		    <table class="table table-stripped dataframe" border="1">
		    <thead>
		    {% for columna in df_nohtml.columns %}

		        <th>{{columna}}</th>

            {% endfor %}
            </thead>
		    {% for key, value in df_nohtml.iterrows() %}
		       <tr style="text-align: right;">
		           {% if(value['Apellidos']) %}
    		           <td>{{value['Apellidos']}}</td>
                       <td>{{value['Nombre']}}</td>
                       <td>{{value['Nombre de usuario']}}</td>
                       <td>{{value['ID de estudiante']}}</td>
                       <td>{{value['Último acceso']}}</td>
                       <td>{{value['Disponibilidad']}}</td>
                       <td>{{value['Rellenar Excel parte 1 (Google Drive) - pestañas: Lenguajes y Frameworks [Puntos totales: 100 Puntuación] |90671']}}</td>
                       <td>
                           <select id="{{value['Nombre de usuario']}}" name="{{value['Nombre de usuario']}}">
        		           <option label="" value="">--</option>
        		           <option label="A">A</option>
        		           <option label="B">B</option>
        		           <option label="C">C</option>
        		           <option label="D">D</option>
        		            </select>
    		            </td>
    		        {% else %}
    		            <td>{{value['Last Name']}}</td>
                       <td>{{value['First Name']}}</td>
                       <td>{{value['Username']}}</td>
                       <td>{{value['Student ID']}}</td>
                       <td>{{value['Last Access']}}</td>
                       <td>{{value['Disponibility']}}</td>
                       <td>{{value['Assignment [Total Pts: 0 Score] |1232742']}}</td>
                       <td>
                           <select id="{{value['Username']}}" name="{{value['Username']}}">
        		           <option label="" value="">--</option>
        		           <option label="A">A</option>
        		           <option label="B">B</option>
        		           <option label="C">C</option>
        		           <option label="D">D</option>
        		            </select>
    		            </td>
		            {% endif %}

		       </tr>
            {% endfor %}
    	    </table>
    	    <input type="hidden" id="extensionCorreo" name="extensionCorreo">
    	    <input type="submit" id="buttonSubmit">
		</form>


    </div>
    <script>

    $(document).ready(function(){

        $("#tableForm").submit(function()
        {
            if ($("th:first-child").html() == 'Apellidos')
            {
                var correo = prompt("Escriba la extension del correo");
                $("#extensionCorreo").val(correo);
            }
        });

    })


    </script>
{% endblock %}

